.root {
  :global {
    .header {
      padding: 5px 0 5px;
      min-height: 30px;
    }
    .body {
      margin-bottom: 5px;
    }
    .work-list {
      > li + li {
        margin-top: 20px;
      }
    }
    .name {
      font-size: 18px;
    }
    .line {
      margin: 0 5px;
    }
    .time {
      margin-left: 10px;
      font-size: 14px;
      color: var(--text-color-3);
    }
    .desc {
      color: var(--text-color-3);
    }
    .duty {
      ul {
        //margin-left: 20px;
      }
    }
  }
}
