.root {
  :global {
    .label {
      font-weight: bold;
    }
    span.content {
      margin-left: 1em;
      > p {
        display: inline;
      }
    }
    div.content {
      margin-left: 2em;
    }
    ol.content {
      margin-left: 2em;
    }
    .project-name {
      font-weight: bold;
      font-size: 18px;
    }
    .desc {
      //color: var(--text-color-3);
    }
    .line {
      margin: 0 5px;
    }
    .time {
      color: var(--text-color-3);
      font-size: var(--font-size-light);
    }
    .technology-stack {
      display: flex;
      .content {
        flex: 1;
      }
    }
    .item-bd {
      margin-top: 6px;
    }
  }
}
