.root {
  :global {
    .label {
      font-weight: bold;
    }
    .content {
      color: #333333;
    }
    span.content {
      margin-left: 1em;
    }
    div.content {
      margin-left: 2em;
    }
    ol.content {
      margin-left: 3em;
    }
    .project-name {
      font-weight: bold;
      font-size: 18px;
    }
    .technology-stack {
      display: flex;
      .content {
        flex: 1;
      }
    }
    .item-bd {
      margin-top: 6px;
    }
    .project-desc {
      ol {
        list-style: decimal;
      }
    }
  }
}
