.root {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: var(--text-color-5);
  :global {
    .generate-pdf,
    .last-modified {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
