@use 'sass:color' as Col;
// @import "resetcss";

// 生成色阶 css 变量
@mixin colorScale($name, $color, $step: 25%, $len: 5) {
  --#{$name}: #{$color};
  // 亮度逐级提升
  @for $i from 2 through $len {
    --#{$name}-#{$i}: #{Col.scale($color, $lightness: calc($step * ($i - 1)))};
  }
}


:root {
  @include colorScale(theme-color, #00b38a, $step: 10%);
  @include colorScale(text-color, #333, calc(1 / 9 * 100%), 10);
  --font-size-light: 14px;
  --font-size-middle: 16px;
  --font-size-large: 18px;
  --font-size-title: 52px;
  --font-size-title-light: 24px;
  --border-color: var(--text-color-9);
  --font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei',
    sans-serif;
}
* {
  box-sizing: border-box;
}
li {
  margin: 6px 0 6px 1.2em;
}
body {
  color: var(--text-color);
  font-size: var(--font-size-middle);
  line-height: 1.5;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background-color: var(--text-color-9);
  overflow: auto;
  margin: 0;
  padding: 1px 0 0;
  @media print {
    background-color: white;
  }
}
#root {
  width: 1024px;
  margin: 50px auto;
  @media screen and (max-width: 1024px) {
    width: 100%;
    margin: 0;
  }
  @media print {
    margin: 0;
  }
}
.pre-line {
  word-break: break-word;
  //white-space: pre-line;
}
a {
  text-decoration: none;
  color: var(--theme-color);
  transition: all 0.2s;
  &:hover {
    color: var(--theme-color-3);
  }
  @media print {
    color: inherit;
  }
}
.print-hidden {
  @media print {
    display: none !important;
  }
}

article {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    border-radius: 0;
  }
}
article > .body {
  width: 100%;
  min-height: 200px;
  padding: 10px 30px 20px;
  overflow: hidden;
  @media screen and (max-width: 720px) {
    padding: 20px 20px 50px;
  }
  > section {
    overflow: hidden;
    padding: 5px 0;
  }
}
.btn {
  display: inline-block;
  border-radius: 3px;
  border: 0;
  color: var(--theme-color);
  font-family: Menlo, var(--font-family);
  font-size: inherit;
  cursor: pointer;
  background: none;
  transition: all 0.2s;
  &:hover {
    color: var(--theme-color-3);
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font: inherit;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.clear-list-style {
  margin: 0;
  padding: 0;
  &,
  > li {
    margin-left: 0;
    list-style: none;
  }
}
