.root {
  :global {
    .project {
      display: flex;
      gap: 3px;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
    .link {
      margin-left: 3px;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
    .name {
      font-weight: bold;
    }
    .desc,
    .tips {
      color: var(--text-color-2);
    }
    .tips {
      text-align: right;
      font-size: 12px;
    }
  }
}
